@charset "utf-8";
/* --------------------------------------------- */
/* モバイルファースト (全環境に共通のデザイン) */
/* --------------------------------------------- */
.content{
    padding: 5px;
    background: skyblue;
}

/* -------------------------------------------- */
/* タブレット用 */
/* -------------------------------------------- */
@media all and (min-width: 768px) {
	.content{
        background: blue;
    }
}

/* ------------------------------------ */
/* PC用 */
/* ------------------------------------ */
/*@media all and (min-width: 920px) {*/
@media all and (min-width: 1000px) {
	.content{
        background: red;
    }
}
